{% load thumbnail %}

<div class="card shadow p-4 mb-5 bg-light rounded">
  <div class="card-body">
    <div class="row align-items-start">

      <div class="col-md-5">
        <div class="lobster">
          <h2 class="card-title">{{ post.title }}</h2>
          <br>
        </div>
      </div>
      
      <div class="col-md-5">
        <h6 class="card-subtitle text-muted">
          <ul>
            {% if author != post.author %}
              <li>          
                Автор: {{ post.author.get_full_name }}              
              </li>
            {% endif %} 
              <li>
                Дата публикации: {{ post.created_at|date:"d E Y" }}
              </li>
            {% if author != post.author %}
              <a class="btn btn-outline-primary btn-sm" href="{% url 'posts:profile' post.author %}">
                все посты пользователя
              </a>
            {% endif %}
          </ul>
        </h6>
      </div>
  </div>

  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <a href="{% url 'posts:post_detail' post.pk %}">
      <img class="card-img my-2" src="{{ im.url }}">
    </a>
  {% endthumbnail %}  

    <p class="card-text">{{ post.text|safe|truncatechars_html:400  }}</p>

    <div class="row align-items-start">

      <div class="col-md-5">      
        <div class="btn-group" role="group" aria-label="Transition management">      
          <a class="btn btn-outline-secondary btn-sm" href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
          {% if post.group and group != post.group and post.group.link %}
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-5 py-2">
          {% if post.group and group != post.group and post.group.link %}
            <a class="nav-link-primary" href="{{ post.group.link }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
              </svg>
              к группе в Telegram
            </a>          
          {% endif %}
      </div>
    </div>

  </div>
</div>

{% if forloop.last %}
  <br>
{% endif %}

