{% load static %}

{% block head %}  
  <link rel="stylesheet" href="{% static 'css/hover-effects.css' %}">
{% endblock %}

<div class="hover-effects">
  <div class="card shadow mb-5 bg-secondary">
    <div class="card-body">
      <form class="form-inline" action="{% url 'posts:search' %}" class="navbar-form navbar-left" method="get">
        <div class="form-row">
          <input name="q" class="form-control form-control-lg" type="search" 
            placeholder="Поиск в постах"
            {% if keyword %} value="{{ keyword }}"{% endif %}>
            <br>
          <button class="button" type="submit">Поиск</button>
        </div>
      </form>
    </div>
  </div>
</div>

<a class="dribbble"
href="https://dribbble.com/shots/7441241-Button-Hover-Effects"
  target="_blank">
<img src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg"
  alt=""></a>

{% block javascript %}
  <script  src="{% static 'js/script.js' %}"></script>
{% endblock %}