{% load static %}

{% block head %}  
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

<div class="hover-effects">
  <div class="card shadow mb-3 bg-secondary">
    <div class="card-body">
      <form class="form-inline w-100" action="{% url 'posts:search' %}" class="navbar-form navbar-left" method="get">
        <div class="form-row w-100">
          <div class="col mb-1">
            <input name="q" class="form-control h-50 w-90" type="search" placeholder="Поиск в постах" id="search-input"
              {% if keyword %} value="{{ keyword }}"{% endif %}>
          </div>
          <div class="d-flex flex-row-reverse">
            <button class="button" type="submit">Поиск</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% block javascript %}
    <script  src="{% static 'js/search.js' %}"></script>
  <script>
    $(document).ready(function() {
      var searchUrl = "{% url 'posts:search' %}";
      initAutocomplete(searchUrl);
    });
  </script>
{% endblock %}
