# Common utilities
requests
ipython

# Djando + util
django
pytils
Pillow
sorl-thumbnail
python-dotenv
django-cors-headers

whitenoise
gunicorn
uvicorn

# Databases for amd64
# psycopg2-binary

# API
djoser
djangorestframework-simplejwt
djangorestframework
PyJWT

# Debagger
django-debug-toolbar

# Distributed async tasks
Celery
redis
celery[redis]
django-celery-beat

# Django async requirements
gunicorn
uvicorn

# lintering
flake8
flake8-broken-line
flake8-isort
flake8-plugin-utils
flake8-return
pep8-naming

# Bot & utils
python-telegram-bot
BeautifulSoup4
python-dateutil
dateparser
tzlocal
timezonefinder