# Common utilities
requests
ipython

# Djando + util
django
pytils
Pillow
sorl-thumbnail
python-dotenv

# user agents parser
python-memcached
pyyaml
ua-parser
user-agents
django-user-agents

# API
djoser
djangorestframework-simplejwt
djangorestframework
PyJWT

# Djando production
gunicorn
uvicorn
django-cors-headers
whitenoise

# Djando debagger
django-debug-toolbar

# Distributed async tasks
Celery
redis
celery[redis]
django-celery-beat

# Bot & utils
python-telegram-bot
BeautifulSoup4
python-dateutil
dateparser
tzlocal
timezonefinder

# lintering
flake8
flake8-broken-line
flake8-isort
flake8-plugin-utils
flake8-return
pep8-naming