{% load static %}
{% block head %}
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="{% static 'css/chat-popup.css' %}">
{% endblock %}
{% csrf_token %}
<div class="floating-chat">
    <div class="eva"><strong>Eva</strong></div>
  <div class="chat ck ck-content">
      <div class="header">
        <span class="title eva">
          Eva assistant
          <span class="typing-indicator" style="display: none;"><span>t</span><span>y</span><span>p</span><span>i</span><span>n</span><span>g</span></span>
        </span>
        <button>
          <i class="fa fa-times" aria-hidden="true" style="font-size: 16px;"></i>
        </button>
      </div>
      <ul class="messages">
      </ul>
      <div class="footer">
        <div class="text-box" type="text" id="message-input" contenteditable="true" data-text="поле ввода запроса..."></div>
        <button id="sendMessage">ask</button>
      </div>
  </div>
</div>
{% block javascript %}
  <script src="{% static 'js/chat-popup.js' %}" defer></script>
{% endblock %}