{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/bootstrap/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/chat-popup.css' %}">
  <script src="{% static 'js/marked/marked.min.js' %}" type="text/javascript" defer></script>
{% endblock %}
{% csrf_token %}
<div class="floating-chat">
    <div class="eva _button">
      <strong>
        <span style="font-size: 10px;">ChatGPT</span><br>
        <span style="font-size: 20px;">Eva</span>
      </strong>
    </div>
  <div class="chat ck ck-content">
      <div class="header">
        <span class="title eva">
          Eva assistant
          <span class="typing-indicator" style="display: none;"><span>t</span><span>h</span><span>i</span><span>n</span><span>k</span><span>s</span></span>
        </span>
        <button>
          <i class="fa fa-times" aria-hidden="true" style="font-size: 16px;"></i>
        </button>
      </div>
      <ul class="messages">
      </ul>
      <div class="footer">
        <div class="text-box" type="text" id="message-input" contenteditable="true" data-text="поле ввода запроса..."></div>
        <button id="sendMessage">ask</button>
      </div>
  </div>
</div>
{% block javascript %}
  <script src="{% static 'js/chat-popup.js' %}" defer></script>
{% endblock %}