{% load static %}
{% load user_agents %}

{% block head %}
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="{% static 'css/chatpopup.css' %}">
{% endblock %}

{% csrf_token %}


<div class="container-fluid vh-100">

  <div class="floating-chat">
    <i class="fa fa-comments" aria-hidden="true"></i>

    <div class="chat">
        <div class="header">
          <span class="title">
            Eva assistant
            <span class="typing-indicator" style="display: none;"><span>t</span><span>y</span><span>p</span><span>i</span><span>n</span><span>g</span></span>
          </span>
          <button>
            <i class="fa fa-times" aria-hidden="true" style="font-size: 16px;"></i>
          </button>
        </div>
        <ul class="messages">

        </ul>
        <div class="footer">
          <div class="text-box" contenteditable="true" disabled="true" data-text="поле ввода запроса..."></div>
          <button id="sendMessage">send</button>
        </div>
    </div>
  </div>

</div>

