<p><strong>На данном этапе своей жизни я нахожусь в разработке, но уже сейчас я кое что умею.</strong></p>
<p><strong>В основном меня создали для того чтобы Ты ничего в своей жизни не пропусти, но есть и ещё кое-что ♨️ </strong></p>
<h2 style="color: #080144;">Функции:</h2>
<ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
<li style="clear: both;"><a href="#telegram">📅 Telegram ToDo management</a></li>
<li style="clear: both;">🎭 рассказываю анекдоты</li>
<li style="clear: both;">😼 высылаю картинки с котиками</li>
<li style="clear: both;">🌈 знаю погоду на улице в твоём местоположении</li>
<li style="clear: both;">☔️ предсказываю её на 4 дня вперёд</li>
<li style="clear: both;">🛰 могу отправить твоё местоположение в группу фаворит</li>
<li style="clear: both;">🏄 знаю о всех мероприятиях в ближайшем от тебя мегаполисе</li>
</ol>
<p><strong> Но для начала Ты должны пройти регистраицию в сервисе. Это, ну совсем просто... Необходимо пройти в <a href="https://t.me/BorFAsbot">личный чат с ботом</a> нажать на кнопку &lt;меню&gt; и запросить регистрацию. И в общем то и всё... Также для настройки часового пояса, очень рекомендую узнать погоду воспользовавшись кнопкой клавиатуры. </strong></p>
<p><strong> Кстати, меню у меня два. И ты уже с ними познакомился. Молодец! Первое, в строке ввода, выводит функции ToDo, котиков и картинки. Второе, в зоне клавиатуры, запрашивает геопозицию и предоставляет все с этим связанные функции. А теперь подробнее:</strong></p>
<section id="telegram">
<h3 style="color: #080144;">Telegram ToDo management</h3>
</section>
<h4 style="color: #080144;">- Меню имеет кнопки и соответствующую ей функцию:</h4>
<ol>
<li>
<p><strong>💬 добавить запись</strong></p>
<p>Формат ввода может быть:</p>
<ul>
<li>дата время <em>напоминание</em> &amp; период повтора</li>
<li>дата <em>напоминание</em> &amp; период повтора</li>
<li>дата <em>напоминание</em></li>
<li>дата День Рождения <em>напоминание</em> &amp; период повтора (каждый код)</li>
</ul>
</li>
<li>
<p><strong>❌ удалить запись</strong></p>
<p>Формат ввода: <strong>дата часть напоминания</strong>.</p>
<p>Внимание! Если эта часть совпадёт с другой записью в этот день, то она тоже будет удалена.</p>
</li>
<li>
<p><strong>🚼 календарь рождений</strong></p>
<p>Выведет все записи с ДР.</p>
</li>
<li>
<p><strong>📅 планы на дату</strong></p>
<p>Формат ввода: <strong>дата</strong>.</p>
</li>
<li>
<p><strong>📝 все планы</strong></p>
<p>Выведет все записи которые найдёт в базе.</p>
</li>
</ol>
<p><strong><em>дата</em></strong> - вводится в формате <strong>##.##.#### или завтра послезавтра в пятницу и т.д.</strong></p>
<p><strong><em>период повтора</em></strong> - может быть <strong>день, неделя, месяц, год</strong></p>
<p><strong><em>День Рождения</em></strong> - может быть <strong>ДР, День рождения, Birthday</strong></p>
<h4 style="color: #080144;">- Схема работы в чатах:</h4>
<p><strong>Если создать напоминание с ботом в личном чате, то он оповещает о нем только в личном с ним чате и в группе/группах ни нет записей и оповещений от тебя.</strong></p>
<p><strong>Если создать напоминание в группе, то он оповещает только в группе. Но при этом записи есть и у тебя в личном с ним чате. Но только у тебя, у остальных участников групп нет.</strong></p>