{% load static %}

{% block head %}
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="{% static 'css/chatpopup.css' %}">
{% endblock %}

{% csrf_token %}

<div class="container-fluid vh-100">

    <div class="floating-chat">
      <i class="fa fa-comments" aria-hidden="true"></i>
  
      <div class="chat">
          <div class="header">
            <span class="title">
              Eva assistant
              <span class="typing-indicator" style="display: none;"><span>t</span><span>y</span><span>p</span><span>i</span><span>n</span><span>g</span></span>
            </span>
            <button>
              <i class="fa fa-times" aria-hidden="true" style="font-size: 16px;"></i>
            </button>
          </div>
          <ul class="messages">
  
          </ul>
          <div class="footer">
            <div class="text-box" type="text" id="message-input" contenteditable="true" disabled="true" data-text="поле ввода запроса..."></div>
            <button id="sendMessage">send</button>
          </div>
      </div>
    </div>
  
  </div>

<script type="text/javascript">
    var roomName = "{{ room_name }}";
</script>

{% comment %} <script>
    const roomName = "{{ room_name }}";
    const socket = new WebSocket(`wss://${window.location.host}/ws/${roomName}/`);

    // Обработчик открытия соединения
    socket.onopen = function(event) {
        console.log("WebSocket connection opened:", event);
    };
    
    // Обработчик получения сообщения
    socket.addEventListener('message', (event) => {
        const messagesContainer = document.getElementById('chat-messages');
        const data = JSON.parse(event.data);
        const message = `${data.username}: ${data.message}`;
        messagesContainer.innerHTML += `<li class="other">${message}</li>`;
    });

    // Обработчик закрытия соединения
    socket.addEventListener('close', (event) => {
        console.log('WebSocket connection closed:', event);
    });

    // Функция для отправки сообщения
    function sendMessage() {
        const inputElement = document.getElementById('message-input');
        const message = inputElement.value;
        if (message.trim() !== '') {
            socket.send(JSON.stringify({ 'message': message }));
            inputElement.value = '';
        }
    }
</script> {% endcomment %}
