{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block head %}

  {% if advertisement_widget %}
    {{ advertisement_widget.script|safe }}
  {% endif %}

  <meta name="description" content="{{ post.short_description }}"/>
  <meta name="keywords" content="{{ tags }}">

  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://www.yourtodo.ru{% url 'posts:post_detail' post.slug %}" />

  <meta property="og:site_name" content="Заметка это простой и удобный способ хранить Ваши важные мысли!"/>
  <meta property="og:title" content="{{ post.title }}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="https://www.yourtodo.ru{% url 'posts:post_detail' post.slug %}"/>
  <meta property="og:description" content="{{ post.short_description }}"/>

  {% if post.image %}
    <meta property="og:image" content="{{ post.image.url }}"/>
    <meta property="og:image:alt" content="{{ post.title }}"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ post.image.url }}">
    <meta name="twitter:image:alt" content="{{ post.title }}"/>
  {% endif %}

  <link rel="stylesheet" href="{% static 'css/hover-effects.css' %}">
  <link rel="stylesheet" href="{% static 'css/moving_units.css' %}">
  <link rel="stylesheet" href="{% static 'css/post-detail.css' %}">

{% endblock %}

{% block title %} Запись: {{ post }} {% endblock %}

{% block content %}

  <div class="container-fluid pt-5">
    <div class="row py-3">

    {% comment %} первая колонка {% endcomment %}

      <aside class="col-lg-3 col-sm-12">

      <div class="{% if not is_mobile %}scroll{% endif %}">

        {% if contents %}  
          
          <div class="card p-1 bg-light rounded shadow mb-2">
            <div class="text-center">
              <h4><strong>Оглавление</strong></h4>
            </div>
            <ul class="list-unstyled">
              {%for content in contents %}
                {%include 'mobile/posts/includes/tree_template.html' %}
              {%endfor%}
            </ul>
          </div>

        {% endif %}

          {% if is_mobile %}
            <div class="card bg-light rounded shadow group-unit _anim-items _anim-no-hide my-2"> 
              {% include 'includes/yabodyadvertising.html' %}
            </div>
          {% else %}
            <div class="card p-1 bg-light rounded shadow group-unit _anim-items _anim-no-hide my-2"> 
              {% include 'includes/yabodyadvertising.html' %}           
            </div>
          {% endif %}

          {% if not is_mobile %}
            <div class="group-unit _anim-items _anim-no-hide">

              {% if advertising %}
                <div class="ck ck-content">
                  {% include 'mobile/posts/includes/advertising.html' %}
                </div>
              {% endif %}

              {% include 'mobile/posts/includes/author_detail.html' %}

            </div>
          {% endif %}

          </div>

      </aside>

      {% comment %} вторая колонка {% endcomment %}

      <article class="col-lg-8 col-sm-12 bg-light rounded shadow">
        <div class="lobster">
          <h1>{{ post.title }}</h1>
        </div>

        {% if post.image %}
          <img class="card-img my-2" src="{{ post.image.url }}" class="d-block w-auto h-100" alt="main-{{ post.slug }}" />
        {% endif %}
        <p>
          <div class="ck ck-content">
            <div class="table-wrap">
              {{ post.text|safe }}
            </div>
          </div>
        </p>     
      
      {% if tag_posts_present and not is_mobile %}
        {% include 'mobile/posts/includes/other_posts.html' %}
      {% endif %}

      </article>

    </div>

    <div class="row {% if advertising and is_mobile %} mb-3 {% else %} mb-5 {% endif %}">
      <div class="col-lg-3 col-sm-12">
      </div>
      <div class="col-lg-8 col-sm-12 bg-light rounded shadow p-3">

        {% comment %} {% if advertising and not is_mobile %}
          <div id="marketWidget" class="rounded"></div>  
        {% endif %} {% endcomment %}

        {% if is_mobile %}
          <div class="bottom-shift _anim-items _anim-no-hide">
            {% include 'mobile/posts/includes/author_detail.html' %}
          </div>
        {% endif %}

          {% include 'mobile/posts/includes/comments.html' %}          

      </div>
    </div>
  </div>

  <aside class="col-lg-1 col-sm-12 mb-4">
    {% if advertising and is_mobile %}
      <div class="bottom-shift _anim-items _anim-no-hide">
        <div class="ck ck-content mb-5">
          {% include 'mobile/posts/includes/advertising.html' %}
        </div>
      </div>
    {% endif %}
  </aside>

  {% comment %} {% if is_mobile %}
    {% include 'includes/yamobileflooradvertising.html' %}
  {% else %}
    {% include 'includes/yapcflooradvertising.html' %}
  {% endif %} {% endcomment %}

{% endblock %}

{% block javascript %}
  <script async charset='utf-8' src='//cdn.embedly.com/widgets/platform.js'></script>
  <script async src="{% static 'js/post_detail.js' %}"></script>  
{% endblock %}
