{% load static %}
{% load tz %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/yellow_stick.css' %}">
{% endblock %}

<div class="stick">
  <ul>
    <li> 
      {% if note.it_birthday %}

        <h3>{{ note.server_datetime|timezone:timezone|date:"d M Y D" }}</h2>
        <p>{{ note.text|safe|truncatechars_html:400  }}</p>

      {% else %}

        <h3>{{ note.server_datetime|timezone:timezone|date:"d M Y D в H:iч" }}</h2>
        <p>{{ note.text|safe|truncatechars_html:400  }}
          <br>
          <br>
        - напомню в {{ note.remind_at|timezone:timezone|time:"H:iч" }}</p>
        
      {% endif %}   

      <a class="button fast white" href="{% url 'tasks:task_edit' note.pk %}">изменить</a>
      <br>
      <a class="button fast white" href="{% url 'tasks:task_delete' note.pk %}">удалить</a>

    </li>
  </ul>
</div>

{% block javascript %}
  <script src="{% static 'js/yellow_stick.js' %}"></script>
{% endblock %}
