{% load static %}
{% load tz %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/stick.css' %}">
{% endblock %}

<div class="col">
  <div class="stick">  
    <div class="card border-dark text-center h-100" style="width: 300px;">

        {% if note.it_birthday %}

          <h3 class="card-header">{{ note.server_datetime|timezone:timezone|date:"d M Y D" }}</h2>

          <div class="card-body">
            <p class="card-text">{{ note.text|safe|truncatechars_html:400  }}</p>
          </div>
        {% else %}

          <h3 class="card-header">{{ note.server_datetime|timezone:timezone|date:"d M Y D в H:iч" }}</h2>

          <div class="card-body">
            <p class="card-text">{{ note.text|safe|truncatechars_html:400  }}
              <br>
              <br>
            - напомню в {{ note.remind_at|timezone:timezone|time:"H:iч" }}</p>
          </div>
        {% endif %}

      

      <div class="card-footer">
        <a class="btn btn-secondary" href="{% url 'tasks:task_edit' note.pk %}" class="card-link">изменить</a>
        <a class="btn btn-dark" href="{% url 'tasks:task_delete' note.pk %}" class="card-link">удалить</a>
      </div>

    </div>
  </div>
</div>

{% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
    crossorigin="anonymous" async>
  </script>
{% endblock %}
