{% extends "base.html" %}
{% load static %}
{% block title %}Ваш персональный менеджер задач{% endblock %}
{% block head %}
  <meta name="description" content="YourToDo - простой и удобный инструмент для управления вашими задачами."/>
  <meta name="keywords" content="менеджер задач, задачи, планирование, cписок дел, управление временем, напоминания, список дел, календарь событий, ежедневник, телеграмм бот">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Your To-Do">
  <html prefix="og: http://ogp.me/ns#">    
  <meta property="og:site_name" content="YourToDo - это решение для управления вашими напоминаниями и заметками."/>
  <meta property="og:title" content="Простой и удобный интерфейс, позволяющий вам легко управлять вашими напоминаниями и заметками."/>
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.yourtodo.ru" />
  <meta property="og:description" content="YourToDo - это возможность не забыть о чем-то по истине важном!"/>
  <meta property="og:image" content="{% static 'git/background.jpg' %}">
  <meta property="og:image:alt" content="city" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{% static 'git/background.jpg' %}">
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block content %}
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
      <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        {% if request.user.is_anonymous %}
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="{% static 'img/index/1_reg_ban_mob.webp' %}" class="d-block w-100" alt="mob-registration-banner">
            <div class="container">
              <div class="carousel-caption">
                <div class="lobster">
                  <h1>Регистрация</h1>
                  <p>&nbsp;</p> 
                  <p>Она необходима, без неё бот не сможет разобратся где чьё напоминание. И кто в какой части мира живёт.</p>
                  <p>&nbsp;</p>
                  <p><a class="btn btn-lg btn-secondary shadow" href="#registration" role="button">Зарегистрироваться</a></p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="carousel-item {% if request.user.is_authenticated %} active {% endif %}" data-bs-interval="5000">
          <img src="{% static 'img/index/2_func_ban_mob.webp' %}" class="d-block w-100" alt="mob-functions-banner">
          <div class="container">
            <div class="carousel-caption">
              <div class="lobster">
                <h1>Откройте для себя уникальные возможности</h1>
                <p>&nbsp;</p>
                <p>На нашем сайте скрыты уникальные хитрости, созданные для того, чтобы сделать ваш опыт использования еще более приятным.</p>
                <p>Но о некоторых основных можно почитать нажав кнопку подробнее.</p>
                <p><a class="btn btn-lg btn-secondary shadow" href="#main-functions" role="button">Подробнее</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/index/3_services_ban_mob.webp' %}" class="d-block w-100" alt="mob-services-banner">
          <div class="container">
            <div class="carousel-caption">
              <div class="lobster">
                <h1>Напоминания, которые меняют игру</h1>
                <p>&nbsp;</p>
                <p>Мы создали этот инструмент с одной целью - чтобы вы никогда не пропустили важные моменты своей жизни.</p>
                <p>&nbsp;</p>
                <p><a class="btn btn-lg btn-secondary shadow" href="#reminders" role="button">Подробнее</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <!-- START THE FEATURETTES -->
      {% if request.user.is_anonymous %}
        <section id="registration">
          <hr class="featurette-divider">
          <div class="row featurette">
            <div class="col-md-7 d-flex align-items-center">
              <div class="text-blog _anim-items _anim-no-hide">
                <h1 class="featurette-heading mb-4">Регистр<span class="text-muted">ация...</span></h1>
                <p class="lead">
                  - перейдите в <span class="eva">Telegram чат c <a href="https://t.me/BorFAsbot">искусственным интеллектом Eva</span></a>
                  <br>
                  - нажав кнопку <span><button class="btn btn-primary btn-sm rounded-circle">Меню</button></span> запросите регистрацию
                  <br>
                  Всё остальное произойдет автоматически.
                  <br><br>
                  Чтобы настроить часовой пояс отличный от МСК, рекомендуется использовать идну из геофункций в <span><button class="btn btn-secondary btn-sm">меню геофункций📡</button></span>;
                  <br><br>
                  <strong>Для корректной работы в групповых чатах, после добавления бота в группу, сделайте его администратором.</strong>      
                </p>
              </div>
            </div>
            <div class="col-md-5">
              <div class="right-image-blog _anim-items _anim-no-hide">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto shadow" width="500" height="500"
                  src="{% static 'img/index/register.webp' %}" alt="block-register">
                </img>
              </div> 
            </div>      
          </div>
        </section>
      {% endif %}
      <section id="main-functions">
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 order-md-2 d-flex align-items-center">
            <div class="text-blog _anim-items _anim-no-hide">
              <h1 class="featurette-heading mb-4">Основные <span class="text-muted">функции.</span></h1>
                <p><b>📅 Управление задачами в Telegram:</b> Организуй свои дела и напоминания прямо в Telegram для личного использования или работы в команде.</p>
                <p><b>🧠 Чат с ИИ Eva:</b> Общайтесь с ИИ Eva в личных или групповых чатах. Чтобы получить ответ от Eva в группе, достаточно упомянуть её по имени.</p>
                <p><b>💬 Аудиотранскрипция:</b> Преобразуйте свои голосовые сообщения в текст для создания напоминаний или диалогов с Eva без необходимости печатать.</p>
                <p><b>🌈 Погода по вашему запросу:</b> Получите актуальную информацию о погоде в вашем местоположении, чтобы планировать свой день с учётом погодных условий.</p>
                <p><b>🛰 Отправка местоположения:</b> С лёгкостью делитесь своим GPS-местоположением в избранные группы, чтобы друзья или коллеги всегда знали, где вы находитесь.</p>
                <p><b>🏄 События поблизости:</b> Оставайтесь в курсе мероприятий и событий, проходящих в ближайшем мегаполисе от вас, чтобы не пропустить интересные события.</p>
            </div>
          </div>
          <div class="col-md-5 order-md-1">
            <div class="right-image-blog _anim-items _anim-no-hide">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto shadow" width="500" height="500"
                src="{% static 'img/index/menu.webp' %}" alt="block-menu">
              </img>
            </div>
          </div>
        </div>
      </section>
      <section id="reminders">
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 d-flex align-items-center">
            <div class="text-blog _anim-items _anim-no-hide">
              <h2 class="featurette-heading mb-4">Превратите Telegram  <span class="text-muted">в вашего персонального помощника</span></h2>
                <p><b>Создавайте напоминания легко и быстро:</b> Отправляйте голосовые сообщения или пишите текст напрямую в чат с Евой. Она умеет распознавать запросы на создание напоминаний, отличать их от обычных вопросов и мгновенно реагировать на них. Укажите дату и время, задайте периодичность — ежедневно, еженедельно, ежемесячно или ежегодно — и она позаботится о том, чтобы вы ничего не забыли.</p>
                <p><b>Браузерная версия для ещё большего удобства:</b> Войдите на сайт и получите доступ к расширенным функциям создания напоминаний. Наш удобный интерфейс позволяет стилизовать текст, добавлять к напоминаниям изображения и легко управлять напоминаниями о днях рождения друзей и коллег. Всё, что вам нужно, теперь в одном месте.</p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="right-image-blog _anim-items _anim-no-hide">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto shadow" width="500" height="500"
                src="{% static 'img/index/message.webp' %}" alt="block-message">
              </img>
            </div>
          </div>
        </div>
      </section>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 order-md-2 d-flex align-items-center">
          <div class="text-blog _anim-items _anim-no-hide">
            <h2 class="featurette-heading mb-4">Расширьте свои горизонты<span class="text-muted"> с нашей библиотекой статей по программированию</span></h2>
            <p><b>Открытый доступ к знаниям:</b> Наш сайт предлагает коллекцию статей по программированию, доступную каждому желающему. Погружайтесь в мир кода, новейших технологий и лучших практик разработки — всё это в вашем распоряжении.</p>
            <p><b>Интерактивное обучение:</b> Не просто читайте, но и участвуйте в процессе обучения. Каждая статья открыта для ваших комментариев и обсуждений. Поделитесь своим опытом, задайте вопросы, обменяйтесь мнениями с единомышленниками. Ваше мнение важно для сообщества!</p>
            <p><b>Углубляйтесь и развивайтесь:</b> Независимо от вашего уровня знаний в области программирования, вы найдете что-то новое и полезное. Наши статьи охватывают широкий спектр тем — от основ до продвинутых техник и инновационных решений в мире разработки.</p>
          </div>
        </div>
        <div class="col-md-5 order-md-1">
          <div class="right-image-blog _anim-items _anim-no-hide">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto shadow" width="500" height="500"
              src="{% static 'img/index/site_menu.webp' %}" alt="block-site_menu">
            </img>
          </div>
        </div>
      </div>
        <hr class="featurette-divider">  
        <div class="row featurette">
          <div class="col-md-7 d-flex align-items-center">
            <div class="text-blog _anim-items _anim-no-hide">
              <h2 class="featurette-heading mb-4">Заметки, <span class="text-muted">которые работают с вашими Telegram-чатами</span></h2>
              <p><b>Вдохновение и организация в одном месте:</b> Ваши беседы в Telegram могут быть источником великолепных идей и важной информации. С Your Todo вы не только сохраните эти моменты, но и организуете их удобно и эффективно.</p>
              <p><b>Делитесь и сохраняйте заметки легко:</b> Ваши заметки автоматически становятся доступны для участников публичных групп, делая обмен знаниями и идеями ещё проще. В частных группах заметки остаются доступны только для её участников, обеспечивая конфиденциальность и защиту вашей личной информации.</p>
              <p><b>Доступ к знаниям с уважением к приватности:</b> Чтобы просмотреть заметки из частных групп, просто убедитесь, что вы являетесь их участником и авторизованы на сайте. Ваша приватность и безопасность — наш приоритет.</p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="right-image-blog _anim-items _anim-no-hide">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto shadow" width="500" height="500"
                src="{% static 'img/index/notes.webp' %}" alt="block-notes">
              </img>
            </div>
          </div>
        </div>
        <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
{% endblock %}
{% block javascript %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var myCarousel = new bootstrap.Carousel(document.getElementById('myCarousel'));
    });
  </script>
{% endblock %}