{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block head %}
  <meta name="description" content="Ваша группа, Ваши Заметки - Организуйте общие мысли с легкостью с Your ToDo!"/>
  <meta name="keywords" content="Telegram, заметки, организация заметок, Telegram инструмент, группа">
  <link rel="stylesheet" href="{% static 'css/moving_units.css' %}">
{% endblock %}

{% block title %} Записи сообщества {{ group.title }} {% endblock %}

{% block headline %} 

  <div class="container py-5">
      <div class="card mt-3 shadow rounded text-center bg-secondary {% if is_mobile %} group-unit {% else %} moving-unit {% endif %} _anim-items _anim-no-hide">

        <div class="card-body">
          <h1 class="card-header">{{ group.title }}</h1>
          {% if group.description %}<p class="card-text p-3">Описание: "{{ group.description }}"</p>{% endif %}
          {% if group.link %}<p class="card-text">Пригласительная ссылка: <a href="{{ group.link }}">{{ group.link }}</a> </p>{% endif %}
        </div>
      
        {% if is_admin %}
          <form actions="{% url 'posts:group_list' group.slug %}" method="POST">
            {% csrf_token %}

            <fieldset>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item bg-secondary">
                <p>Рассылка "Мысли великих людей"</p>
                <div class="btn-group" role="group" aria-label="Базовая группа переключателей радио">
                  {% for radio in form.forismatic_quotes %}
                    <input type="radio" class="btn-check" id="{{ radio.id_for_label }}" autocomplete="off"                  
                      {% if forism_check == False and radio.choice_label == "Выключена" %}
                        checked
                      {% elif forism_check == True and radio.choice_label == "Включена" %}
                        checked
                      {% endif %}
                      {{ radio.tag }}>

                    <label class="btn btn-outline-dark" for="{{ radio.id_for_label }}">
                      {{ radio.choice_label }}
                    </label>
                  {% endfor %}
                </div>
              </li>
            </ul>
            </fieldset>

          </form>
        {% endif %}

      </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="container">
    <div class="ck ck-content">
      {% for post in page_obj %}

        {% include 'posts/includes/post_list.html' %}

      {% endfor %}
    </div>

    {% include 'posts/includes/paginator.html' %}
  </div>

<div class="container shadow my-3 p-1 rounded">
  {% include 'includes/yaribbonadvertising.html' %}
</div>
<br>

{% endblock %}