{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block head %}

  {% if advertisement_widget %}
    {{ advertisement_widget.script|safe }}
  {% endif %}

  <meta name="description" content="Заметка это простой и удобный способ хранить Ваши важные мысли!"/>
  <meta name="keywords" content="Telegram, заметки, организация заметок, Telegram инструмент, автор, Python, программирование, ИИ">

  <html prefix="og:http://ogp.me/ns#">    
  <meta property="og:site_name" content="Заметка это простой и удобный способ хранить Ваши важные мысли!"/>
  <meta property="og:title" content="{{ post.title }}"/>
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.yourtodo.ru{% url 'posts:post_detail' post.id %}" />
  <meta property="og:description" content="{{ post.text|striptags|truncatechars_html:200 }}"/>
  {% thumbnail post.image "x630" as im %}
    <meta property="og:image" content="https://www.yourtodo.ru{{ im.url }}">
  {% endthumbnail %}
  <meta property="og:image:alt" content="{{ post.title }}" />

  {% if post.image %} 
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://www.yourtodo.ru{{ post.image.url }}">
  {% endif %}

  <link rel="stylesheet" href="{% static 'css/hover-effects.css' %}">
  <link rel="stylesheet" href="{% static 'css/moving_units.css' %}">
  <link rel="stylesheet" href="{% static 'css/post-detail.css' %}">

{% endblock %}

{% block title %} Запись: {{ post }} {% endblock %}

{% block content %}

  <div class="container-fluid pt-5">
    <div class="row py-3">

    {% comment %} первая колонка {% endcomment %}

      <aside class="col-lg-3 col-sm-12">

      <div class="{% if not is_mobile %}scroll{% endif %}">

        {% if contents %}  
          
          <div class="card p-1 bg-light rounded shadow mb-2">
            <div class="text-center">
              <h4><strong>Оглавление</strong></h4>
            </div>
            <ul class="list-unstyled">
              {%for content in contents %}
                {%include 'posts/includes/tree_template.html' %}
              {%endfor%}
            </ul>
          </div>

        {% endif %}

          {% if is_mobile %}
            <div class="card bg-light rounded shadow group-unit _anim-items _anim-no-hide my-2"> 
              {% include 'includes/yabodyadvertising.html' %}
            </div>
          {% else %}
            <div class="card p-1 bg-light rounded shadow group-unit _anim-items _anim-no-hide my-2"> 
              {% include 'includes/yabodyadvertising.html' %}           
            </div>
          {% endif %}

          {% if not is_mobile %}
            <div class="group-unit _anim-items _anim-no-hide">

              {% if advertising %}
                <div class="ck ck-content">
                  {% include 'posts/includes/advertising.html' %}
                </div>
              {% endif %}

              {% include 'posts/includes/author_detail.html' %}

            </div>
          {% endif %}

          </div>

      </aside>

      {% comment %} вторая колонка {% endcomment %}

      <article class="col-lg-8 col-sm-12 bg-light rounded shadow">
        <div class="lobster">
          <h1>{{ post.title }}</h1>
        </div>

        {% if post.image %}
          <img class="card-img my-2" src="{{ post.image.url }}" class="d-block w-auto h-100">
        {% endif %}
        <p>
          <div class="ck ck-content">
            <div class="table-wrap">
              {{ post.text|safe }}
            </div>
          </div>
        </p>
      </article>
    </div>

    <div class="row {% if advertising and is_mobile %} mb-3 {% else %} mb-5 {% endif %}">
      <div class="col-lg-3 col-sm-12">
      </div>
      <div class="col-lg-8 col-sm-12 bg-light rounded shadow p-3">

        {% if advertising and not is_mobile %}
          <div id="marketWidget" class="rounded"></div>  
        {% endif %}

        {% if is_mobile %}
          <div class="bottom-shift _anim-items _anim-no-hide">
            {% include 'posts/includes/author_detail.html' %}
          </div>
        {% endif %}

          {% include 'posts/includes/comments.html' %}

      </div>
    </div>
  </div>

  <aside class="col-lg-1 col-sm-12 mb-4">
    {% if advertising and is_mobile %}
      <div class="bottom-shift _anim-items _anim-no-hide">
        <div class="ck ck-content mb-5">
          {% include 'posts/includes/advertising.html' %}
        </div>
      </div>
    {% endif %}
  </aside>

  {% if is_mobile %}
    {% include 'includes/yamobileflooradvertising.html' %}
  {% else %}
    {% include 'includes/yapcflooradvertising.html' %}
  {% endif %}

{% endblock %}

{% block javascript %}

  <script async charset='utf-8' src='//cdn.embedly.com/widgets/platform.js'></script>
  <script async src="{% static 'js/script.js' %}"></script>
  <script async src="{% static 'js/counter.js' %}"></script>

  <script>
    document.querySelectorAll( 'oembed[url]' ).forEach( element => {
        const anchor = document.createElement( 'a' );
        anchor.setAttribute( 'href', element.getAttribute( 'url' ) );
        anchor.className = 'embedly-card';
        element.appendChild( anchor );
    });
    function scrollDown(event) {
      event.preventDefault();  
      var targetId = event.target.getAttribute('href').substring(1);
      var targetElement = document.getElementById(targetId);  
      if (targetElement) {
          var offset = 64;
          var targetPosition = targetElement.offsetTop - offset;
  
          window.scrollTo({
              top: targetPosition,
              behavior: 'smooth'
          });
      }
    }
    function toggleList(event, toggleIcon) {
        const ul = toggleIcon.parentElement.querySelector('ul');        
        if (ul) {
            if (ul.style.display === 'none' || ul.style.display === '') {
                ul.style.display = 'block';
                toggleIcon.innerHTML = '<i class="bi bi-circle">';
            } else {
                ul.style.display = 'none';
                toggleIcon.innerHTML = '<i class="bi bi-plus-circle"></i>';
            }
        }
    }
  </script>
{% endblock %}
