{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block head %}

  <meta name="description" content="Заметка это простой и удобный способ записывать и хранить важные мысли, идеи и задачи, чтобы ничего не потерять!"/>
  <meta name="keywords" content="Telegram, заметки, организация заметок, Telegram инструмент, автор">

  <html prefix="og: http://ogp.me/ns#">    
  <meta property="og:site_name" content="Заметка это простой и удобный способ записывать и хранить важные мысли, идеи и задачи, чтобы ничего не потерять!"/>
  <meta property="og:title" content="{{ post.title }}"/>
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.yourtodo.ru{% url 'posts:post_detail' post.id %}" />
  <meta property="og:description" content="{{ post.text|striptags|truncatechars_html:200 }}"/>
  {% thumbnail post.image "x630" as im %}
    <meta property="og:image" content="https://www.yourtodo.ru{{ im.url }}">
  {% endthumbnail %}
  <meta property="og:image:alt" content="{{ post.title }}" />

  {% if post.image %} 
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://www.yourtodo.ru{{ post.image.url }}">
  {% endif %}

  <link rel="stylesheet" href="{% static 'css/hover-effects.css' %}">
  <link rel="stylesheet" href="{% static 'css/moving_units.css' %}">

{% endblock %}

{% block title %} Запись: {{ post }} {% endblock %}

{% block content %}

  <div class="container-fluid py-5">
    <div class="row py-3">

      <aside class="col-lg-2 col-sm-12">
        <div class="hover-effects">
          <ul class="list-group shadow group-unit _anim-items _anim-no-hide">
            <li class="list-group-item bg-secondary">
              <p>Дата публикации:<br/>~ {{ post.created_at|date:"d E Y" }}</p>
            </li>
            {% if post.group and post.group.link %}
                <li class="list-group-item  bg-secondary">
                  <p>Группа:<br/>{{ post.group }}</p>
                  <a type="button" class="button fast white" href="{% url 'posts:group_list' post.group.slug%}">
                    все &#160 записи &#160 группы
                  </a>
                </li>
            {% endif %} 
            <li class="list-group-item  bg-secondary">
              <p>Автор:<br/>~ {{ post.author.get_full_name }}</p>
            </li>
            <li class="list-group-item justify-content-between align-items-center bg-secondary">
              <p>Всего постов автора:  <span> {{ authors_posts_count }} </span></p>
              
              <a type="button" class="btn button fast white" href="{% url 'posts:profile' post.author %}">
                все &#160 посты &#160 пользователя            
              </a>
            </li>

              {% if post.author == user %}

                <li class="list-group-item bg-secondary">  
                  <form method="patch" action="{% url 'posts:post_edit' post.pk %}">
                    {% csrf_token %}
                      <button type="submit" class="button w-100">изменить&#160пост</button>
                  </form>
                </li>

                <li class="list-group-item bg-secondary">
                  <form method="post" action="{% url 'posts:post_delete' post.pk %}">
                    {% csrf_token %}
                      <button type="submit" class="button reverse dark w-100">удалить&#160пост</button>
                  </form>
                </li>

              {% endif %}

          </ul>
        </div>

        <div class="card p-1 bg-light rounded shadow group-unit _anim-items _anim-no-hide my-2"> 
          {% include 'includes/yabodyadvertising.html' %}
        </div>

        {% if advertising and not is_mobile %}
          {% include 'posts/includes/advertising.html' %}
        {% endif %}

      </aside>

      <article class="col-lg-8 col-sm-12 bg-light rounded shadow">            
        <div class="lobster"> 
          <h1>{{ post.title }}</h1>
        </div>      
        {% thumbnail post.image "x339" as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <p>
          <div class="ck ck-content">
            {{ post.text|safe }}
          </div> 
        </p>

        {% if advertising and is_mobile %}
          {% include 'posts/includes/advertising.html' %}
        {% endif %}

        {% include 'posts/includes/comments.html' %}

      </article>   

    </div>
  </div>

  <a class="dribbble"
  href="https://dribbble.com/shots/7441241-Button-Hover-Effects"
    target="_blank">
  <img src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg"
    alt=""></a>
{% endblock %}

{% block javascript %}  
  <script src="{% static 'js/script.js' %}"></script>
  <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
  <script>
    document.querySelectorAll( 'oembed[url]' ).forEach( element => {
        const anchor = document.createElement( 'a' );
        anchor.setAttribute( 'href', element.getAttribute( 'url' ) );
        anchor.className = 'embedly-card';
        element.appendChild( anchor );
    } );
  </script>
{% endblock %}
