{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block head %}
  <meta name="description" content="Власть над заметками с Автором."/>
  <meta name="keywords" content="Автор, заметки, Telegram инструмент, посты">

  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://www.yourtodo.ru/posts/profile/{{ author.username }}/" />

  <link rel="stylesheet" href="{% static 'css/moving_units.css' %}">
{% endblock %}

{% block title %} Профайл пользователя {{ author.get_full_name  }} {% endblock %}

{% block headline %}
  <div class="container pt-5 mb-1">

      <div class="card shadow bg-secondary rounded {% if is_mobile %} group-unit mt-3 {% else %} moving-unit mt-4 {% endif %} _anim-items _anim-no-hide">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6">
              <h2 class="card-header">Все посты пользователя</h2>
              <p class="card-header">{{ author.get_full_name }}</p>
              <p class="card-header py-3">Всего постов: {{ posts_count }} </p>
            </div>
            
            <div class="col-12 col-md-6 py-3 d-flex justify-content-center align-items-center">
                {% thumbnail author.image "200x200" crop="center" upscale=True as im %}
                  <img class="border shadow" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %} 
            </div>

            {% if user.is_authenticated %}
            <div class="row">
                {% if following %}
                  <form method="post" action="{% url 'posts:profile_unfollow' author  %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-light shadow">Отписаться</button>
                  </form>
                {% else %}
                  <form method="post" action="{% url 'posts:profile_follow' author  %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary shadow">Подписаться</button>
                  </form>
                {% endif %}
            </div>
            {% endif %}

          </div>
        </div>
      </div>

  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="ck ck-content">
      {% for post in page_obj %}
        {% include 'posts/includes/post_list.html' %}
      {% endfor %}
    </div>
    {% include 'posts/includes/paginator.html' %}
  </div>

<div class="container shadow my-3 p-1 rounded">
  {% include 'includes/yaribbonadvertising.html' %}
</div>
<br>
{% endblock %}
