{% extends "base.html" %}
{% load thumbnail %}

{% block head %}
  <meta name="description" content="Власть над заметками с Автором."/>
  <meta name="keywords" content="Автор, заметки, Telegram инструмент, посты">
{% endblock %}

{% block title %} Профайл пользователя {{ author.get_full_name  }} {% endblock %}

{% block headline %}
  <div class="container py-5">
    <div class="py-3">
      <div class="card shadow bg-secondary rounded py-3">
        <div class="card-body">
          <div class="row">             
            <div class="col-md-5">
              <h2 class="card-header">Все посты пользователя</h2>
              <p class="card-header">{{ author.get_full_name }}</p>
              <p class="card-header py-3">Всего постов: {{ posts_count }} </p>

              {% if user.is_authenticated %}              
                {% if following %}
                  <a class="btn btn-lg btn-light"
                    href="{% url 'posts:profile_unfollow' author %}" role="button">
                    Отписаться
                  </a>
                {% else %}
                    <a class="btn btn-primary px-5"
                      href="{% url 'posts:profile_follow' author %}" role="button">
                      Подписаться
                    </a>
                {% endif %}
              {% endif %}

            </div>
            
            <div class="col-md-3">
            </div>

            <div class="col-md-3">
                {% thumbnail author.image "200x200" crop="center" upscale=True as im %}
                  <img class="border shadow" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %} 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="container">

    <div class="ck ck-content">
      {% for post in page_obj %}
        {% include 'posts/includes/post_list.html' %}
      {% endfor %}
    </div>
    {% include 'posts/includes/paginator.html' %}
  </div>
</br>
{% endblock %}
