{% extends "base.html" %}
{% load static %}
{% block head %}
  <meta name="description" content="403 - доступ ограничен"/>
  <meta name="robots" content="noindex">
  <link rel="canonical" href="{{ full_url }}" />
  <meta property="og:site_name" content="YourToDo.ru"/>
  <meta property="og:title" content="403 - доступ ограничен"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ full_url }}"/>
  <meta property="og:description" content="403 - доступ ограничен"/>
  <link rel="stylesheet" href="{% static 'css/403.css' %}">
{% endblock %}
{% block title %} 403 - доступ ограничен {% endblock %}
{% block content %}
<div class="scene">
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <span class="bg-403">403</span>
  <div class="text">
    <span class="hero-text"></span>
    <span class="msg"><span>Заметка</span> находится в приватном пространстве</span>
    <span class="support">
      <span>Авторизуйтесь или станьте участником группы, в которой она опубликована</span>
      <br>
      <a href="{% url 'posts:index_posts' %}">к общему списку</a>
    </span>
  </div>
  <div class="lock"></div>
</div>
{% endblock %}