{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load user_filters %}

{% block title %}Профиль{% endblock %}

{% block head %}
  <meta name="description" content="Профиль вашего аккаунта."/>  
{% endblock %}

{% block content %}

  <div class="container py-3 mt-4 ml-4">    

        <form method="post" enctype="multipart/form-data" action="{% url 'accounts_profile' user.username %}">          
          {% csrf_token %}

          <div class="row py-4 align-items-stretch">

            <!-- Profile picture card-->
            <div class="col-xl-4">                         
              <div class="card bg-light shadow">
                <div class="form-group row my-3 p-3"> 

                  <div class="card-body text-center">
                      {% thumbnail user.image "300x300" crop="center" upscale=True as im %}
                        <img class="border shadow" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                      {% endthumbnail %}                      
                  </div>
                  <div class="btn btn-light">
                    {{ form.image|addclass:"form-control form-control-sm" }}
                  </div>

                  <div class="form-error">{{ form.image.errors }}</div>

                </div>
              </div>
            </div>

            <!-- Profile imput fields-->
            <div class="col-xl-8">
              <div class="card bg-light mb-4 shadow">
                <div class="card-body">

                    {% for field in form %}

                      <div class="form-group row my-2 p-2">
                          {% if not field.name == 'image' %}

                          <label for="{{ field.text.id_for_label }}">
                            {{ field.label }}
                            {% if field.field.required %}
                              <span class="reqired text-danger">*</span>
                            {% endif %}
                                  
                              {{ field|addclass:"form-control" }}

                          {% endif %}                 

                          <div class="form-error">{{ field.errors }}</div>                   

                        </label>

                      </div>

                    {% endfor %}
                </div>
              </div>

            </div>

            <div class="col-md-6 offset-md-4 p-2">
              <button type="submit" class="btn btn-secondary shadow">
                Сохранить данные
              </button>
            </div>

          </div>
        </form>
  </div>
{% endblock content %}

{% block javascript %}
  <script  src="{% static 'js/check-phone.js' %}"></script>
{% endblock %}
