{% extends "base.html" %}

{% block title %} Твои записи {% endblock %}

{% block header %}    
  <h1>Последние обновления:</h1>
{% endblock %}

{% block content %}

  <div class="container py-5"> 

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for note in page_obj %}         
        {% comment %} {% include 'tasks/includes/one_entry.html' %} {% endcomment %}
        {% include 'tasks/includes/stcard_list.html' %}
      {% endfor %}
    </div>   

  </div> 

  {% include 'tasks/includes/paginator.html' %}

{% endblock %}