{% extends "base.html" %}
{% load static %}

{% block title %} Твои записи {% endblock %}

{% block headline %}
  <h1>Последние обновления:</h1>
{% endblock %}

{% block content %}

  <div class="container py-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">

        {% for note in page_obj %}
          {% include 'mobile/tasks/includes/stcard_list.html' %}
        {% endfor %}

    </div>

    {% include 'mobile/tasks/includes/paginator.html' %}
  </div>

{% endblock %}

{% block javascript %}
  <script  src="{% static 'js/stcard.js' %}"></script>
{% endblock %}
