{% extends "base.html" %}
{% load static %}

{% block title %}Ваш персональный менеджер задач{% endblock %}

{% block head %}
  <meta name="description" content="YourToDo - простой и удобный инструмент для управления вашими задачами. Организуйте свои дела и достигайте успеха!"/>
  <meta name="keywords" content="менеджер задач, задачи, планирование, cписок дел, управление временем, напоминания, список дел, календарь событий, ежедневник, телеграмм бот">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Your To-Do">

  <html prefix="og: http://ogp.me/ns#">    
  <meta property="og:site_name" content="YourToDo - это инновационное решение для управления вашими задачами и заметками."/>
  <meta property="og:title" content="Простой и удобный интерфейс, который позволяет вам легко организовывать и управлять вашими задачами и заметками."/>
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.yourtodo.ru" />
  <meta property="og:description" content="Это идеальное решение для людей, которые хотят быть более продуктивными и достичь своих целей."/>
  <meta property="og:image" content="https://www.yourtodo.ru/static/img/index/2_func_ban.webp">
  <meta property="og:image:alt" content="city" />

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}


{% block content %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">

        {% if request.user.is_anonymous %}

          <div class="carousel-item active">


            {% if is_mobile %}
              <img class="img-fluid" src="{% static 'img/index/1_reg_ban_mob.webp' %}"></img>
            {% else %}
              <img class="img-fluid" src="{% static 'img/index/1_reg_ban.webp' %}"></img>
            {% endif %}  

            <div class="container">
              <div class="carousel-caption text-left">
                <div class="lobster">
                  <h1>Регистрация</h1>
                  <p>&nbsp;</p>
                  <p>Она необходима, без неё бот не сможет разобратся где чьё напоминание. И кто в какой части мира живёт.</p>
                  <p>&nbsp;</p>
                  <p><a class="btn btn-lg btn-primary" href="#registration" role="button">Зарегистрироваться</a></p>
                </div> 
              </div>
            </div>
          </div>
        {% endif %}

        <div class="carousel-item {% if request.user.is_authenticated %} active {% endif %}">

          {% if is_mobile %}
            <img class="img-fluid" src="{% static 'img/index/2_func_ban_mob.webp' %}"></img>
          {% else %}
            <img class="img-fluid" src="{% static 'img/index/2_func_ban.webp' %}"></img>
          {% endif %}
          
          <div class="container">
            <div class="carousel-caption">
              <div class="lobster">
                <h1>Основные функции</h1>
                <p>&nbsp;</p>
                <p>Есть некоторые приятные фишки о которых тебе нужно знать.</p>
                <p>&nbsp;</p>
                <p><a class="btn btn-lg btn-primary" href="#main-functions" role="button">Подробнее</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">

          {% if is_mobile %}
            <img class="img-fluid" src="{% static 'img/index/3_services_ban_mob.webp' %}"></img>
          {% else %}
            <img class="img-fluid" src="{% static 'img/index/3_services_ban.webp' %}"></img>
          {% endif %}
          
          <div class="container">
            <div class="carousel-caption text-right">
              <div class="lobster">
                <h1>Напоминания</h1>
                <p>&nbsp;</p>
                <p>В основном меня создали для того чтобы Ты ничего в своей жизни не пропустил, но есть и ещё кое-что ♨️</p>
                <p>&nbsp;</p>
                <p><a class="btn btn-lg btn-primary" href="#reminders" role="button">Подробнее.</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-fluid rounded-circle" width="140" height="140" src="{% static 'img/index/4_past.png' %}"></img>
          <h2>Прошлое</h2>
          <p>Очень часто появлялась необходимость напоминания большому количеству людей о начале какого-либо мероприятия. И к сожалению иногда я и сам об этом забывал. Так и родилась идея создать Telegram бота для групповых чатов.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">          
          <img class="img-fluid rounded-circle" width="140" height="140" src="{% static 'img/index/4_present.png' %}"></img>
          <h2>Настоящее</h2>
          <p>На данном этапе своей жизни я нахожусь в разработке, но уже сейчас я кое что умею.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-fluid rounded-circle" width="140" height="140" src="{% static 'img/index/4_future.png' %}"></img>
          <h2>Будущее</h2>
          <p>В дальнейшем все обязательно должно перерасти в соцсеть поверх соцсетей, в которой будут напоминания, листы желаний на праздники и многое другое.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <p>&nbsp;</p>
      <p>&nbsp;</p>

      <!-- START THE FEATURETTES -->
      {% if request.user.is_anonymous %}
        <section id="registration">
        <hr class="featurette-divider">     

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-Заголовок">Регистр<span class="text-muted">ация...</span></h2>
            <p class="lead">
              Для регистрации в системе, перейдите <a href="https://t.me/BorFAsbot">в личный чат с Евой</a>, нажмите кнопку &lt;Меню&gt; и запросите регистрацию.
              <br><br>
              Чтобы настроить часовой пояс отличный от МСК, рекомендуется проверить погоду, используя появившуюся кнопку &lt;Показать меню&gt;.
              <br><br>
              <strong>Для корректной работы в групповых чатах, после добавления бота в группу, сделайте его администратором.</strong>      
            </p>
          </div>
          <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
              src="{% static 'img/index/register.webp' %}">
            </img>
          </div>      
        </div>
        </section>
      {% endif %}

      <section id="main-functions">
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-Заголовок">Основные <span class="text-muted">функции.</span></h2>
          <p class="lead">
            <ol style="list-style: none; line-height: 20px; ">
              <li><p>📅 Telegram ToDo management</p></li>
              <li><p>🎭 анекдоты</p></li>
              <li><p>🌈 погода в твоём местоположении</li>
              <li><p>☔️ прогноз погоды на 4 дня вперёд</p></li>
              <li><p>🛰 отправка GPS местоположения в группу фаворит</p></li>
              <li><p>🏄 список мероприятий в ближайшем от тебя мегаполисе</p></li>
              <li><p>🧠 приватный и групповой чат с ИИ Eva</p></li>
              <li><p>📚 перевод текста на другие языки</p></li>
              <li><p>💬 аудиотранскрипция сообщения</p></li>
            </ol>
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
            src="{% static 'img/index/menu.webp' %}">
          </img>

        </div>
      </div>
      </section>

      <section id="reminders">
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-Заголовок">Описание работы  <span class="text-muted">основного модуля.</span></h2>
          <p class="lead">
            <h4 style="color: #080144;">- Кнопки меню:</h4>
            <ol style="list-style: none;">
              <li>
                <p>
                  <strong>💬 добавить запись</strong>
                  (возможен формат ввода: 
                  <em>дата время напоминание &amp; период повтора;
                      дата напоминание &amp; период повтора;
                      дата напоминание;
                      дата День Рождения напоминание &amp; период повтора.
                  </em>)
                </p>
              <li>
              <p><strong>❌ удалить запись</strong>
              (формат ввода: 
              <em>дата часть напоминания. 
                Примечание: если введённая часть совпадает с другой записью, то она также будет удалена.
              </em>)
              </p>
              </li>
              <li>
              <p><strong>🚼 календарь рождений</strong>
                (вывод всех записей с ДР)
              </p>
              </li>
              <li>
              <p><strong>📅 планы на дату</strong>
                (формат ввода: дата)</p>
              </li>
              <li>
              <p><strong>📝 все планы</strong>
              (вывод всех найденных записей в базе)</p>
              </li>
              </ol>

              <h4 style="color: #080144;">- Работа в чатах:</h4>
              <p>Напоминание созданное в личном чате с ботом, будет оповещать только пользователя в личном чате.</p>
              <p>Напоминание созданное в группе, будет оповещать только в группе.</p>
          </p>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
            src="{% static 'img/index/message.webp' %}">
          </img>
        </div>
      </div>
      </section>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-Заголовок">Управление <span class="text-muted">с сайта.</span></h2>
          <p class="lead">
            После регистрации и аутентификации на сайте, Вы сможете использовать веб-функции управления напоминаниями, в том числе создавать, редактировать и добавлять фото к записям.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
            src="{% static 'img/index/site_menu.webp' %}">
          </img>

        </div>
      </div>

        <hr class="featurette-divider">
  
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-Заголовок">Заметки  <span class="text-muted"></span></h2>
            <p class="lead">
              Telegram-чаты являются источником вдохновения для создания Заметок. Поэтому в Your Todo мы обеспечили возможность их хранения. И сделали это по тому же принципу:<br><br> 
              Опубликованные Заметки в публичных группах доступны всем пользователям. Однако, если группа является частной, то доступ к заметкам будет ограничен только для участников этой группы. Для просмотра заметок частных групп, вы должны быть её участником, а также быть авторизованным.
            </p>
          </div>
          <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
              src="{% static 'img/index/notes.webp' %}">
            </img>
          </div>
        </div>

        <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

{% endblock %}


{% block javascript %}  
{% endblock %}
