<li>

  {% if content.children %}
    <span class="toggle-icon" onclick="toggleList(event, this)"><i class="bi bi-plus-circle"></i></span>
  {% else %}
    <span class="toggle-icon" onclick="toggleList(event, this)"><i class="bi bi-circle"></i></span>
  {% endif %}

  <a href="#{{ content.data.anchor }}" onclick="scrollDown(event)">{{ content.data.anchor }}</a>

  {%if content.children %}
    <ul style="display: none; list-style: none;">
    {%for ch in content.children %}
      {%with content=ch template_name="tree_template.html" %}
         {%include 'mobile/posts/includes/tree_template.html' %}
      {%endwith%}
    {%endfor%}
    </ul>
  {%endif%}
</li>
