{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block head %}
  <meta name="description" content="{{ group.description }}"/>
  <meta name="keywords" content="Telegram, заметки, группа">
  {% if group_public %}
    <meta name="robots" content="index, follow">
  {% else %}
    <meta name="robots" content="noindex">
  {% endif %}
  <link rel="canonical" href="https://www.yourtodo.ru{% url 'posts:group_list' group.slug %}" />
  <meta property="og:site_name" content="YourToDo.ru"/>
  <meta property="og:title" content="{{ group.title }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://www.yourtodo.ru{% url 'posts:group_list' group.slug %}"/>
  <meta property="og:description" content="{{ group.description }}"/>
  {% if group.image %}
    <meta property="og:image" content="{{ group.image.url }}"/>
    <meta property="og:image:alt" content="Телеграмм сообщество: {{ group.title }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ group.image.url }}"/>
    <meta name="twitter:image:alt" content="Телеграмм сообщество: {{ group.title }}"/>
  {% endif %}
  <link rel="stylesheet" href="{% static 'css/moving_units.css' %}">
{% endblock %}
{% block title %} Записи сообщества {{ group.title }} {% endblock %}
{% block headline %}
  <div class="container pt-5 my-2">
    <div class="card shadow rounded text-center bg-secondary moving-unit mt-4 _anim-items _anim-no-hide">
      <div class="card-body">
        <h1 class="card-header">{{ group.title }}</h1>
        {% if group.description %}<p class="card-text p-3">Описание: "{{ group.description }}"</p>{% endif %}
        {% if group.link %}<p class="card-text">Пригласительная ссылка: <a href="{{ group.link }}">{{ group.link }}</a> </p>{% endif %}
      </div>
      {% if is_admin %}
        <form actions="{% url 'posts:group_list' group.slug %}" method="POST">
          {% csrf_token %}
          {% include 'desktop/posts/includes/mailings.html' %}
        </form>
      {% endif %}
    </div>
  </div>  
{% endblock %}
{% block content %}
  <div class="container">
    <div class="ck ck-content">
      {% for post in page_obj %}
        {% include 'desktop/posts/includes/post_list.html' %}
      {% endfor %}
    </div>
    {% include 'desktop/posts/includes/paginator.html' %}
  </div>
<div class="container my-3 p-1 rounded">
  {% include 'includes/yaribbonadvertising.html' %}
</div>
<br>
{% endblock %}