ul {
  list-style-type: none;
}

ul li a {
  text-decoration: none; /* Убираем подчеркивание */
  font-weight: normal; /* Устанавливаем нормальный шрифт по умолчанию */
  color: black;
}

ul li a:hover {
  font-weight: bold; /* Делаем текст жирным при наведении */
  color: black;
}
