.moving-unit {
  transform: translate(0px,-105%);
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.moving-unit._active {
  transform: translate(0px,0px);
  opacity: 1;
  transition: all 0.8s ease-in-out;
}

.group-unit {
  transform: translate(-105%,0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.group-unit._active {
  transform: translate(0px,0px);
  opacity: 1;
  transition: all 0.8s ease-in-out;
}

.arising-unit {
  transform: scale(0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.arising-unit._active {
  transform: scale(1);
  opacity: 1;
  transition: all 0.8s ease-in-out;
}

.bottom-shift {
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.bottom-shift._active {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.8s ease-in-out;
}
