.table-wrap {
  overflow-x: auto;
  display: block;
}  
.table-wrap table {
  width: 100%;
  max-width: none;
  table-layout: fixed;
}
pre {
  white-space: pre !important;
  overflow-x: auto !important;
  word-wrap: normal !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.scroll {
    position: sticky;
    top: 76px;
}
.image-container {
  width: 100%;
  padding-top: 35.3125%;
  position: relative;
  background-color: #f0f0f0;
}
.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hidden-content {
  display: none;
}
#advertAside {
  height: 300px;
  max-height: 300px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}