*, *::before, *::after {
    box-sizing: border-box;
}
.table-wrap {
  overflow-x: auto;
  display: block;
}
.table-wrap table {
  width: 100%;
  table-layout: fixed;
}
pre {
  white-space: pre !important;
  overflow-x: auto !important;
  word-wrap: normal !important;
}
.scroll {
    position: sticky;
    top: 76px;
}
.image-container {
  width: 100%;
  padding-top: 35.3125%;
  position: relative;
  background-color: #f0f0f0;
}
.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hidden-content, .hidden {
  display: none;
}
#advertAside {
  height: 300px;
}
.visible {
  display: block;
}
.tree-content li {
  margin-top: 5px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.tree-content span {
  margin-right: 3px;
}
.tree-content hr{
  margin-top: 4px;
  margin-bottom: 12px;
}
.tree-content a {
  color: black;
}
.carousel-item a {
  text-decoration: none;
}
:root {
  --scroll-btn-bg-color: #ddd;
  --scroll-btn-bg-color-hover: #555;
  --scroll-btn-color: black;
  --scroll-btn-color-hover: white;
  --scroll-btn-bottom: 20px;
  --scroll-btn-right: 30px;
  --scroll-btn-padding: 12px;
  --scroll-btn-border-radius: 10px;
}
#scrollToTopBtn {
  position: fixed;
  bottom: var(--scroll-btn-bottom);
  right: var(--scroll-btn-right);
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--scroll-btn-bg-color);
  color: var(--scroll-btn-color);
  cursor: pointer;
  padding: var(--scroll-btn-padding);
  border-radius: var(--scroll-btn-border-radius);
}
#scrollToTopBtn:hover {
  background-color: var(--scroll-btn-bg-color-hover);
  color: var(--scroll-btn-color-hover);
}