.table-wrap {
  overflow-x: auto;
  display: block;
}  
.table-wrap table {
  width: 100%;
  max-width: none;
  table-layout: fixed;
}
pre {
  white-space: pre !important;
  overflow-x: auto !important;
  word-wrap: normal !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.scroll {
    position: sticky;
    top: 76px;
}